.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
 

}


body{
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  background-image: url("https://wallpaperaccess.com/full/247317.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
}

.dFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: x-large;
  font-weight: 600;


}

nav ul{
  border: 2px solid blue;
  background-color: white;
  border-radius: 20px;
  width: 20%;
  list-style: none;
  padding: 1rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0rem 1rem 0rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.7s ease-out;
  text-shadow: 1px 1px black;
  text-decoration-line: none;
}

nav ul li a{
  text-decoration-line: none;
  text-shadow: 1px 1px black;
  color: black;
}

nav ul li:hover{

  transform:scaleX(1.3);

}


.mainContent{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 3rem;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 5px solid blue;
  border-radius: 20px;
  opacity: 0.92;


}

form{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  
}

form input{
  border: 2px solid blue;
  border-radius: 6px;
  padding: 0.3rem;

}

form label{
  padding: 0.1rem;
  font-size: 20px;
  margin-left: 2rem;
  font-weight: 500;
}

form button{
  border: 2px solid blue;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.7s ease-out;
  margin-left: 2rem;
  color: blue;
  cursor: pointer;
  
}

form button:hover{
  border: white;
  background-color: blue;
  transform: scale(1.2);
  color: white;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  flex-direction: column;
  position: relative;
  width: 40%;
  margin-bottom: 3rem;
  margin-top: 3rem;


}

img:hover{
  transform: scale(1.1);

}

.cardImg{
  padding: 1rem;
  }
  
img{
  max-width: 100%;
  width: 395px;
  height: 395px;
  transition: all 0.7s ease-out;
  object-fit: fill;
  border-radius: 20%;
  border: 3px solid;
  border-color: blue;

  
}

.CardInfo{
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 2rem;
  width: 60%;


}

h2{
  font-size: 40px;
  color: rgba(0, 0, 0, 0.795);
  display: flex;
  flex-wrap: wrap;
  
}

p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.795);
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;


}
.footer p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-weight: 500;
  text-shadow: 1px 1px black;
}

.footer a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-weight: 500;
  text-shadow: 1px 1px black;
  text-decoration-line: none;
  transition: ease-in 0.7s;
}

.footer a:hover{
  transform: scale(1.1);
  color: rgb(2, 252, 2);
}


















@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
